body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-form {
  text-align: center;
  margin: 3rem auto;
  width: 70%;
}

.list {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #afadad;
}

.list ul {
  padding: 0;
  margin: 0;
}
.list li {
  padding: 3px 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.odd {
  background-color: #f6f2ec;
}

.even {
  background-color: #dbe4f5;
}
